<main>
    <div class="text-center mb-4 mt-3">
        <h1>Activity Feed</h1>
    </div>
    <div class="container mx-auto row px-0">
        <div class="col-lg-6 mb-4">
            <%= render 'shared/user_info' %>
        </div>
        <div class="col-lg-6">
            <%= render 'shared/feed' %>
        </div>
        <div class="paginate mx-auto mt-4">
            <%= will_paginate @activities, :previous_label => '&lt', :next_label => '&gt' %>
        </div>
    </div>
</main>