<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-6 offset-6 main-form">
                <p class="free text-center mb-4"><span>Forgot your password?</span></p>
                <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>
                    <div class="form-group">
                        <%= f.email_field :email, placeholder: " Email Address", class: "form-control form-design" %>
                    </div>                                    
                    <%= f.submit "Send me reset password instructions", class: "primary-button" %>
                <% end %>
            </div>
        </div>
    </div>
</div>


