<% provide(:title, 'Home') %>
<main class="animated fadeInDown delay slow">
    <div class="static-first col-md-9 col-lg-7 mx-auto px-0">
        <div class="h1">
            <span class="under-line">Learn from yesterday,</span>
        </div>
        <div class="h1">
            <span class="under-line">Live for today,</span>
        </div>
        <div class="h1">
            <span class="under-line">Hope for tomorrow.</span>
        </div>
            <br>
        <div class="h1">
            <span class="under-line">The important thing is</span>
        </div>
        <div class="h1">
            <span class="under-line">not to stop questioning.</span>
        </div>
        <br>
        <div class="text-right">
            <i class="h3 text-black-50">
                ー Albert Einstein
            </i>
        </div>
    </div>
</main>
<main>
    <div class="container static-second animated fadeInUp delay slow px-2">
        <div class="h1 text-center mb-5">
            <span class="under-line-title">About This App</span>
        </div>
        <div class="col-12 col-lg-10 mx-auto">
            <h5>Albert Einstein said, 'The important thing is not to stop questioning' in our life.</h5>
            <h5>As long as we live, we must continue to learn from everything that can exist on earth.</h5>
            <br>
            <h5>You can use 'E-Learning System' for everyway.</h5>
            <h5>Learning a lot of knowlegdes from whoever you want.</h5>
            <br>
            <h5>This  application has following function,</h5>
            <h5> - To make questions, setting several words in one category.</h5>
            <h5> - To Administrate setting, creating categories and words.</h5>
        </div>
    </div>
</main>